.maindiv{
    width: 100%;
    background-color: rgb(244, 242, 242);
    color: rgb(58, 58, 58);
}

.submaindiv{
    width: 92%;
    margin: auto;
    display: flex;
    /* position: relative; */
    font-size: medium;
    
}

.datadiv1{
    display: flex;
    gap: 2%;
    width: 80%;
    padding: 0.7%;
    /* position: absolute;
    left: 0; */
}

.datadiv2 {
    display: flex;
    gap: 6%;
    width: 20%;
    font-size: small;
    padding: 0.7%;
    /* position: absolute;
    right: 0; */
}

