.maindiv{
    width: 100%;
}

.subdiv{
    width: 92%;
    margin: auto;
    display: grid;
    grid-template-columns: 15% 60% 10%;
}
.subdiv div{
    margin: auto;
}

.input{
    margin: auto;
    width: 100%;
}